<html>
    <%- include('./partials/document/head') %>
    <body>
        <main class="main-dashboard">
            <%- include('./partials/document/nav') %>
            <% if(user){ %>
                <section class="content-container">
                    <h1 class="dash-header">MY MESSAGES</h1>
                    <div class="dash-line"></div>
                    <% if (messages) { %>
                        <% messages.forEach(message => { %>
                            <div class="message-container">
                                <div class="message-headers">
                                    <p>Date: <%= message.date %></p>
                                </div>
                                <div class="message-content">
                                    <%= message.message %>
                                </div>
                            </div>
                        <% }) %>
                    <%} else { %>
                        <h1>No Messages Yet!</h1>
                    <% } %>
                    <%- include('./partials/createMessageInput') %>
                    <% if(errors) { %>
                        <div class="create-message-container error-container fade-in-out">
                            <% errors.forEach(error => { %>
                                <p><%= error.msg %></p>
                            <% }) %>
                        </div>
                    <% } %>
                </section>
            <% } else { %>
                <section class="content-container">
                    <h1 class="dash-header">Log In to see messages</h1>
                    <%- include('./partials/createMessageInput') %>
                </section>
            <% } %>
        </main>
    </body>
</html>