<html>
    <%- include('./partials/document/head') %>
    <body>
        <main class="mobile-CM">
            <%- include('./partials/document/nav') %>
            <%- include('./partials/document/snav') %>
            <section class="content-container">
                <% if(user) { %>
                    <form class="create-message-container <%= req.originalUrl === '/mcreate-message' ? 'mobile-CMC' : '' %>" method="POST" action="/create-message">
                            <label for="message">My Message: </label>
                            <textarea type="text" placeholder="Message goes here" id="message" name="message" maxlength="255"></textarea>
                            <div class="message-button-container">
                                <button class="message-post">Post</button>
                                <button class="close-message licon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>trash-can-outline</title><path d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" /></svg>
                                </button>
                            </div>
                    </form>
                <% } else { %>
                    <div class="create-message-container <%= req.originalUrl === '/mcreate-message' ? 'mobile-CMC' : '' %>" style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 1rem;">
                        <h1>Log in to post a message!</h1>
                    </div>
                <% } %>
            </section>
        </main>
    </body>
</html>